@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global definitions */
body {
    font-family: Roboto, serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #3c4858;
}

li {list-style: none;}

i {font-size: 5em;}

a {
    color: inherit;
    text-decoration: none;
}

button {
    color: #FFFFFF;
    background-color: #b2263b;
    border-radius: 5px;
    border: none;
    width: fit-content;
    padding: 12px 30px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}

/* Top sections */
.top-content {
    flex-direction: column;
    background-image: url(../Images/Climbing.jpg);
    background-color: rgb(177, 162, 163);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center, left;
    color:rgb(253, 243, 230);
}

/* For smaller devices */
@media only screen and (max-width: 767px){

    .nav-items, #comp-logo {
        display: none;
    }

    #menu-bars {
        font-size: 30px;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #myLinks {
        display: none;
        flex-direction: column;
        align-items: center;
        height: 40vh;
        justify-content: space-evenly;
        font-size: x-large;
    }

    header {
        overflow: hidden;
        position: sticky;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo {
        font-size: x-large;
        font-weight: bolder;
    }

    /* Hero section */
    .hero {
        display: flex;
        height: 40vh;
        align-items: center;
        justify-content: center;
    }

    .hero-content-wrapper{
        display: flex;
        flex-direction: column;
        gap: 5vh;
        max-width: 90vw;
    }

    .hero-header {
        font-size: 3em;
        font-weight: bold;
        text-align: center;
    }


    /* Text sections */
    .text-section {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 50px;
        padding-top: 10px;
    }

    .para {
        max-width: 80vw;
        margin: 0px;
        font-size: large;
    }

    h4 {
        padding-top: 10px;
        margin: 0px;
    }

    h1 {
        margin-bottom: 0px;
    }


    /* Picture section */
    .picture-section {
        min-height: 40vh;
        display: flex;
        flex-direction: column;
        background-image: url(../Images/Skiing.jpg);
        background-color: rgb(177, 162, 163);
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center, left;
        color:rgb(253, 243, 230) ;
    }

    .quote {
        max-width: 80vw;
    }

    
    /* Footer */
    footer {
        display: flex;
        flex-direction: column;
        min-height: 10vh;
        justify-content: space-evenly;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #3c4858;
        color: rgb(253, 243, 230);
    }

    .footer-content {
        display: flex;
        justify-content: center;
    }

    .socials {
        justify-content: center;
        align-items: center;
        min-width: 30vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer-nav-bar {
        display: none;
    }
}

/* For computer screens */
@media only screen and (min-width: 768px){

    /* Top sections */
    .top-content {
        background-image: url(../Images/Climbing.jpg);
        background-color: rgb(177, 162, 163);
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center, left;
        color:rgb(253, 243, 230);
        align-items: center;
        justify-content: center;
    }

    #menu-bars {
        display: none;
    }

    #drop-down-indicator {
        font-size: 10px;
    }

    header {
        display: flex;
        flex-direction: row;
        height: 70px;
        align-items: center;
        justify-content: space-between;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    nav {
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
        gap: 30px;
    }

    .logo {
        font-size: x-large;
        font-weight: bolder;
        margin: 0px;
    }

    .logo:hover {
        transform: scale(1.1);
        transition: 0.1s;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        max-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(43, 42, 42, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        padding: 12px 5px;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover {
        transform: scale(1.1);
        transition: 0.1s;
    }

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown-content a:hover {
        transform: scale(1.05);
        transition: 0.1s;
    }

    .non-dropdown:hover {
        transform: scale(1.1);
        transition: 0.1s;
    }


    /* Hero section */
    .hero {
        display: flex;
        min-height: 30vh;
        align-items: center;
        justify-content: center;
    }

    .hero-content-wrapper{
        display: flex;
        flex-direction: column;
        gap: 5vh;
        max-width: 90vw;
    }

    .hero-header {
        font-size: 4em;
        font-weight: bold;
    }


    /* Text sections */
    .text-section {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 50px;
        padding-top: 10px;
        min-height: 50vh;
    }

    .para {
        max-width: 700px;
        margin: 0px;
        font-size: large;
        font-weight: lighter;
    }

    h4 {
        padding-top: 10px;
        margin: 0px;
    }

    h1 {
        margin-bottom: 0px;
    }


    /* Picture section */
    .picture-section {
        min-height: 40vh;
        display: flex;
        flex-direction: column;
        background-image: url(../Images/Skiing.jpg);
        background-color: rgb(177, 162, 163);
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center, left;
        color:rgb(253, 243, 230) ;
    }

    .quote {
        max-width: 50vw;
    }


    /* Footer */
    footer {
        display: flex;
        flex-direction: column;
        min-height: 20vh;
        justify-content: space-evenly;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #3c4858;
        color: rgb(253, 243, 230);
    }

    .footer-content {
        display: flex;
        justify-content: center;
    }

    .socials {
        justify-content: center;
        align-items: center;
        min-width: 30vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer-nav-bar {
        display: flex;
        justify-content: center;
    }
}